<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<form action="/emp/createEmp" method="POST">
  <input type="text" placeholder="first name" name="FirstName">
  <button type="submit">Submit</button>
</form>
  
  </body>
</html>

